
:root{
    --bg-color:#1b1f24;
    --bg-color2:#22282f;
    --font-color:rgb(59, 59, 255);
    --font-color2: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    height: 200vh;
    width: 100%;
    background-color: var(--bg-color);
}
.nav-logo{
    color: var(--font-color);
    display: flex;
    font-size: 28px;
    margin: 30px 100px;
    gap: 5px;
}
.nav-logo svg, span{
    display: flex;
}
.nav-logo  span{
    color: var(--font-color2) ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
    gap: 20px;
    margin: 0 100px;
}
nav a{
    text-decoration: none;
    color: var(--font-color2);
}
.link{
    cursor: pointer;
}
.link:hover{
    .underline{
        background-color: var(--font-color2);
        transition: 0.5s;
    }
}
.header-section{
    width: 100%;
    height: 100vh;
    color: var(--font-color2);
    display: flex;
}
.left{
    width: 35%;
    padding: 180px 100px;
}
.stripe{
    width: 160px;
    height: 8px;
    background-color: var(--font-color2);
    margin: 30px 0;
}
.left h1{
    font-size: 55px;
}
.left p {
    margin: 15px 0;
    font-size: 15px;
    color: lightgray;
}
.arrow-down{
    width: 110px;
    height: 110px;
    background-color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 80px 0;
}
.middle{
    width: 30%;
}
.middle  img{
    width: 100%;
}
.right{
    width: 35%;
    padding: 100px;
}
.right h3{
    display: flex;
    align-items: center;
}
.stripe2{
    width: 135px;
    height: 2px;
    background-color: gray;
}
hr{
    margin: 60px 0;
    width: 320px;
}
.h3-1{
    margin: 20px 0;
}
.h3-2{
    margin: 20px 0 0 0;
}
.stripe3{
    width: 210px;
    height: 2px;
    background-color: gray;
}
@media (max-width: 1350px){

}
@media (max-width: 1050px){
  
}
@media (max-width: 870px) {
    .navbar a{
        display: none;
    }
    .navbar svg{
        width: 40px;
        height: 40px;
    }
 
    
}
@media (max-width: 550px){
    .navbar svg{
        width: 24px;
        height: 24px;
    }
    .navbar{
        margin: 0 30px;
    }
    .nav-logo{
        margin: 30px 30px;
    }
}
